body{
	background-image:linear-gradient(#fff,#ace8ff,#fff,#ace8ff,#fff);
}

h1{
	text-align:center;
	font-family:FangSong;
	font-size:40px;
}

h2{
	text-align:center;
	font-size:30px;
}
.liebiao{
	width:350px;
	margin-left:200px;
}
